<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProUsuario</servlet-name>
        <servlet-class>Controladores.ProUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProAutomovil</servlet-name>
        <servlet-class>Controladores.ProAutomovil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProCompra</servlet-name>
        <servlet-class>Controladores.ProCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProTiempo</servlet-name>
        <servlet-class>Controladores.ProTiempo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProTrabajador</servlet-name>
        <servlet-class>Controladores.ProTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProVenta</servlet-name>
        <servlet-class>Controladores.ProVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProApartar</servlet-name>
        <servlet-class>Controladores.ProApartar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>Controladores.SessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteUsers</servlet-name>
        <servlet-class>Controladores.ReporteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchivoImagen</servlet-name>
        <servlet-class>Controladores.ArchivoImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteAutos</servlet-name>
        <servlet-class>Controladores.ReporteAutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAutos</servlet-name>
        <servlet-class>Controladores.ReportAutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTra</servlet-name>
        <servlet-class>Controladores.ReporteTra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProUsuario</servlet-name>
        <url-pattern>/ProUsuario/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProAutomovil</servlet-name>
        <url-pattern>/ProAutomovil/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProCompra</servlet-name>
        <url-pattern>/ProCompra/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProTiempo</servlet-name>
        <url-pattern>/ProTiempo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProTrabajador</servlet-name>
        <url-pattern>/ProTrabajador/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProVenta</servlet-name>
        <url-pattern>/ProVenta/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProApartar</servlet-name>
        <url-pattern>/ProApartar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/SessionController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteUsers</servlet-name>
        <url-pattern>/ReporteUsers/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchivoImagen</servlet-name>
        <url-pattern>/ArchivoImagen/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteAutos</servlet-name>
        <url-pattern>/ReporteAutos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAutos</servlet-name>
        <url-pattern>/ReportAutos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTra</servlet-name>
        <url-pattern>/ReporteTra/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
